* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border: 2px solid black;
}

.flex-container {
    display:flex;  
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: flex-start;
    /* align-content: flex-end; */
    height: 92vh;
    border: 2px solid firebrick
    
} 
.flex-item {  
    list-style: none;
    margin-right: 10px;
    border: 2px solid green;
}

.flex-item:first-child {
   background: lightgoldenrodyellow;
   margin-right: auto; 
}

.flex-item:nth-child(4) {
    background: rgb(207, 250, 213); 
}

.flex-item:last-child {
    margin-right: 0;
    margin-left: auto;
    background: lightcoral; 
}

a {
    text-decoration: none;
}