* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
header {
    border: 2px solid black;
    text-align: center;
    height: 5vh;
}

main {
    height: 90vh;
    text-align: center;
    line-height: 90vh;
    border: 2px solid green;
}

footer {
    height: 5vh;
    text-align: center;
    border: 2px solid red;
}   