* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;  
}

.grid-container {
    display: grid; 
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 1fr 1fr;
    
    gap: 0.6em; 
}

.top {
    grid-column: span 2;
    max-height: 10vh;
    display: flex;
}

.top div {
    padding: 0.5em 1em;
    line-height: 2rem; 
}

.menu1, .menu2 {
    margin-right: 1em;
}

.logo {
    margin-right: auto;
}

.sidebar {
    min-height: 70vh;
    grid-row: span 2;
}

.footer {
    max-height: 20vh;
    grid-column: 1 / -1;
}