* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

/* mobile screen */
header {
    display: flex;
    gap: 1em;
}

header div {
    font-size: 2rem;
    line-height: 2em;
    display: none;
}

main {
    /* min-height: 70vh; */
}

main div {
    padding: 2em;
}

header h1 {
    padding: 0.5em;
    margin-right: auto;
}

footer {
    font-size: 1rem;
    padding: 1em;
}

.item-5,
.item-6 {
    display: none;
    /* visibility: hidden; */
}

/* desktop screen */
@media screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 80vh;
    }

    header div {
        display: block;
    }

    main div {
        font-size: 2rem;
    }

    .item-5,
    .item-6 {
        display: block;
    }
}